* {
  padding: 0%;
  margin: 0;
}

body {
  background-color: rgb(241, 72, 72);
  color: #0a1520;
  font-family: 'Bree Serif', serif;
  height: 100%;
  overflow: hidden;
}

nav {
  background-color: black;
  color: rgb(243, 236, 226);
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 30px;
}

.logo {
  display: flex;
  float: left;
  padding: 5px 0;
  font-size: 1.3em;
  font-weight: 500;
  font-style: italic;
  font-family: 'Bree Serif', serif;
}

.logo:hover {
  color: rgb(167, 35, 35);
  transform: scale(1.05);
  transition: 0.15s;
}

.icon-guitar {
  width: 40px;
  padding-top: 8px;
  font-size: 1.3em;
}

a {
  color: rgb(237, 236, 236);
  text-decoration: none;
}

a:hover {
  color: rgb(167, 35, 35);
}

.nav-items {
  padding: 15px 0 10px;
}

.nav-item {
  float: left;
  display: block;
  font-size: 1.2rem;
  padding: 0 10px;
  font-family: 'Bree Serif', serif;
}

.nav-item:hover {
  transform: scale(1.05);
  transition: 0.15s;
}

.home-container {
  display: flex;
  float: left;
  width: 100%;
}

.description-container {
  width: 50%;
  height: 100vh;
}

.display-one {
  height: 90vh;
  width: 50%;
  background: url('./img/img4.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}

.title-container {
  /* display: flex;
  float: left; */
  padding: 50px 0 0px;
  width: 50%;
  margin: auto;
}

.title {
  text-align: center;
  font-family: 'Bree Serif', serif;
  font-size: 3em;
  font-weight: 800;
  font-style: italic;
}

.icons-container {
  display: flex;
  float: left;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 30px;
}

.instrument-icon {
  margin: 0 5px;
}

#Keyboard-icon,
#Drumkit-icon,
#Congas-icon,
#Guitar-icon {
  margin: 0 auto;
  width: 50px;
}

#Mic-icon,
#Saxophone-icon {
  margin: 0 auto;
  width: 40px;
}

.subtitle {
  text-align: center;
  font-family: 'Bree Serif', serif;
  font-size: 25px;
}

.text-container {
  padding: 20px 0;
  /* font-size: 0.35em; */
  width: 90%;
  margin: auto;
  color: #27292e;
}

.text {
  text-align: center;
  font-family: 'Bree Serif', serif;
  font-size: 1.2em;
  text-align: justify;
  font-weight: 800;
  font-style: italic;
}

.phrase-container {
  padding: 30px 0;
}

.phrase {
  text-align: center;
  font-size: 1.4em;
  font-family: 'Roboto', sans-serif;
}

.buttons-container {
  margin: 0% auto;
  padding: 0%;
  width: fit-content;
}

button {
  padding: 15px 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgb(58, 56, 56);
  font-size: 15px;
  font-family: 'Bree Serif', serif;
  text-decoration: none;
}

.find {
  position: absolute;
  right: 50%;
  background-color: rgb(219, 90, 68);
  color: rgb(236, 231, 231);
}

.find:hover {
  background-color: rgb(179, 62, 46);
  transform: scale(1.1);
  transition: 0.35s;
}

.register-button {
  background-color: rgb(54, 180, 25) !important;
}

.register-button:hover {
  opacity: 80%;
}

.register:hover {
  background-color: rgb(209, 26, 16);
  color: #0a1520;
  transform: scale(1.05);
  transition: 0.15s;
}

.register {
  width: fit-content;
  margin: auto;
}

.search-container {
  /* padding: 20px auto; */
  margin: 0px auto;
  height: fit-content;
  width: 90%;
}

.search-form {
  padding: 10px;
}

.search-input {
  margin: auto;
  width: 230px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px black;
}

.search-button {
  padding: 10px;
}

/* .form-buttons {
  margin: 10px auto;
} */

.button {
  display: flex;
  float: left;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, #a75b1498, #a73e1498);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #62300498;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #837150;
  transform: scale(1.05);
}

.button:active {
  box-shadow: 0 0.3em 1em -0.5em #837150;
}

.openMics-container {
  width: 90%;
  height: 100vh;
}

.openMic-card {
  border: 3px solid black;
  border-radius: 5px;
  width: 90%;
  margin: 10px auto;
  background-color: rgb(226, 138, 232);
}
