* {
  padding: 0%;
  margin: 0;
}

body {
  background-color: rgb(233, 105, 105);
  color: #0a1520;
  font-family: 'Bree Serif', serif;
}

nav {
  background-color: black;
  color: rgb(243, 236, 226);
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 30px;
}

.logo {
  display: flex;
  float: left;
  padding: 10px 0;
  font-size: 1.3em;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-family: 'Bree Serif', serif;
}

.logo:hover {
  color: rgb(167, 35, 35);
  transform: scale(1.05);
  transition: 0.15s;
}

.icon-guitar {
  width: 40px;
  padding-top: 8px;
  font-size: 1.3em;
}

a {
  color: rgb(237, 236, 236);
  text-decoration: none;
}

a:hover {
  color: rgb(167, 35, 35);
}

.nav-items {
  padding: 20px 0 10px;
}

.nav-item {
  float: left;
  display: block;
  font-size: 1.4rem;
  padding: 0 20px;
  font-family: 'Bree Serif', serif;
}

.nav-item:hover {
  transform: scale(1.05);
  transition: 0.15s;
}

.display-one {
  display: flex;
  float: left;
  height: 100vh;
  width: 50%;
}

.title-container {
  padding: 150px 0 0px;
  width: 50%;
  margin: auto;
}

.title {
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 60px;
  font-weight: 800;
  font-style: italic;
}

.subtitle {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
}

.phrase-container {
  padding: 100px 0;
}

.phrase {
  text-align: center;
  font-size: 25px;
  font-family: 'Shadows Into Light', cursive;
}

.buttons-container {
  width: 50%;
  margin: auto;
}

button {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgb(58, 56, 56);
  font-size: 15px;
  font-family: 'Roboto Slab', serif;
  text-decoration: none;
}

.find {
  position: absolute;
  right: 50%;
  background-color: rgb(219, 90, 68);
  color: rgb(236, 231, 231);
}

.find:hover {
  background-color: rgb(179, 62, 46);
  transform: scale(1.1);
  transition: 0.35s;
}

.register {
  position: absolute;
  left: 50%;
  background-color: rgb(200, 202, 55);
}

.register:hover {
  background-color: rgb(181, 221, 107);
  transform: scale(1.1);
  transition: 0.35s;
}

.form-container {
  padding: 20px auto;
  margin: 10px auto;
  height: fit-content;
  width: 80%;
}

.register-form {
  padding: 10px;
}

.form-buttons {
  margin: 10px auto;
}

.button {
  display: flex;
  float: left;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, #a75b1498, #a73e1498);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #62300498;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #837150;
  transform: scale(1.05);
}

.button:active {
  box-shadow: 0 0.3em 1em -0.5em #837150;
}

.openMics-container {
  width: 90%;
  height: 100vh;
}

.openMic-card {
  border: 3px solid black;
  border-radius: 5px;
  width: 90%;
  margin: 10px auto;
}
