* {
  padding: 0%;
  margin: 0;
}

body {
  background: linear-gradient(0deg, rgb(211, 106, 26), rgb(241, 72, 72));
  color: #0a1520;
  font-family: 'Bree Serif', serif;
  height: 100%;
  overflow: hidden;
}

nav {
  background-color: black;
  color: rgb(243, 236, 226);
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 30px;
}

.logo {
  display: flex;
  float: left;
  padding: 5px 0;
  font-size: 1.3em;
  font-weight: 500;
  font-style: italic;
  font-family: 'Bree Serif', serif;
}

.logo:hover {
  color: rgb(167, 35, 35);
  transform: scale(1.05);
  transition: 0.15s;
}

.icon-guitar {
  width: 40px;
  padding-top: 8px;
  font-size: 1.3em;
}

a {
  color: rgb(237, 236, 236);
  text-decoration: none;
}

a:hover {
  color: rgb(167, 35, 35);
}

.nav-items {
  padding: 15px 0px 10px;
}

.nav-item {
  float: left;
  display: block;
  font-size: 1.2rem;
  padding: 0 10px;
  font-family: 'Bree Serif', serif;
}

.nav-item:hover {
  transform: scale(1.05);
  transition: 0.15s;
}

.home-container {
  display: flex;
  max-width: 1200px;
}

.description-container {
  width: 50%;
  height: 100vh;
}

.display-one {
  height: 90vh;
  width: 50%;
  background: url('./img/img4.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}

.title-container {
  padding: 50px 0 0px;
  width: 50%;
  margin: auto;
}

.title {
  text-align: center;
  font-family: 'Bree Serif', serif;
  font-size: 3em;
  font-weight: 800;
  font-style: italic;
}

.icons-container {
  display: flex;
  float: left;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 10px auto 0;
  /* padding-bottom: 20px; */
}

.instrument-icon {
  margin: 0 5px;
}

#Keyboard-icon,
#Drumkit-icon,
#Congas-icon,
#Guitar-icon {
  margin: 0 auto;
  width: 50px;
}

#Mic-icon,
#Saxophone-icon {
  margin: 0 auto;
  width: 40px;
}

.subtitle {
  text-align: center;
  font-family: 'Bree Serif', serif;
  font-size: 25px;
}

.text-container {
  padding: 40px 0 70px;
  width: 90%;
  margin: auto;
  color: #27292e;
}

.text {
  text-align: center;
  font-family: 'Bree Serif', serif;
  font-size: 1.2em;
  text-align: justify;
  font-weight: 800;
  font-style: italic;
}

.bullet-points {
  padding: 0;
  width: 90%;
  margin: auto;
  color: #27292e;
}

.phrase-container {
  padding-bottom: 20px;
}

.phrase {
  text-align: center;
  font-size: 1.4em;
  font-family: 'Roboto', sans-serif;
}

.buttons-container {
  margin: 0% auto;
  padding: 0%;
  width: fit-content;
}

button {
  padding: 15px 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgb(58, 56, 56);
  font-size: 15px;
  font-family: 'Bree Serif', serif;
  text-decoration: none;
}

.register-button {
  background-color: rgb(3, 3, 3) !important;
}

.register:hover {
  color: #0a1520;
  transform: scale(1.05);
  transition: 0.15s;
}

.register {
  width: fit-content;
  margin: auto;
}

.search-container {
  margin: 0px auto;
  height: fit-content;
  width: 90%;
  overflow: auto;
}

.search-form {
  padding: 10px;
}

.search-input {
  margin: auto;
  width: 230px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px black;
}

.search-button {
  padding: 10px;
}

.button {
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #050504;
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #62300498;
  letter-spacing: 0.05em;
  border-radius: 10em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  transform: scale(1.05);
}

.openMics-container {
  width: 90%;
  height: 100vh;
  overflow: scroll;
}

.openMic-card {
  border: 2px solid rgb(70, 49, 39);
  border-radius: 5px;
  width: 90%;
  margin: 10px auto;
  background-color: #9d3c27;
  opacity: 92%;
}

.openMic-title {
  font-size: 20px;
  margin: 10px auto;
  padding: 10px;
  color: aliceblue;
  background-color: #050504;
  width: 90%;
  border-radius: 5px;
  opacity: 90%;
}

.openMics-card-container {
  height: 420px;
  overflow: auto;
}

.openMic-venue {
  font-size: 1.6em;
  color: azure;
  padding: 0.3em;
}

.openMic-info {
  padding: 0 0.3em 0.3em;
  color: rgb(218, 220, 220);
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: black;
  color: rgb(253, 242, 242);
}

/* TABLET SCREEN */

@media only screen and (max-width: 820px) {
  /* For cellphone: */

  body {
    overflow: visible;
  }

  .nav-container {
    position: fixed;
    width: 95vw;
    top: 0;
    left: 0;
  }

  .nav-items {
    padding: 15px 30px 10px;
  }

  .home-container {
    display: block;
    height: 90vh;
  }

  .description-container {
    width: 100vw;
    height: 75vh;
  }

  .display-one {
    height: 100vh;
    width: 100%;
    background-size: 100% 100vh;
  }

  .title-container {
    padding: 100px 0 0px;
  }

  .text-container {
    padding: 20px 0 30px;
    width: 80%;
  }

  .phrase-container {
    padding-bottom: 10px;
  }

  .phrase {
    text-align: center;
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
  }

  .openMics-container {
    height: 90vh;
  }

  .openMics-card-container {
    height: 530px;
  }

  .contact-container {
    margin: 0 auto;
    padding: 100px;
  }

  .display-container {
    margin: 120px 0px;
  }

  .register-container {
    margin-top: 100px;
  }

  .signup-container {
    margin: 120px auto;
  }

  .footer {
    position: fixed;
  }
}

/* MOBILE SCREEN */

@media only screen and (max-width: 500px) {
  /* For cellphone: */

  body {
    overflow: visible;
  }

  .nav-container {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
  }

  .nav-items {
    padding: 8px 30px;
  }

  .logo {
    font-size: 0.8em;
  }

  .nav-item {
    font-size: 1.1rem;
  }

  .home-container {
    display: block;
    height: 90vh;
  }

  .description-container {
    width: 100%;
    height: 85vh;
  }

  .text {
    font-size: 1em;
  }

  .subtitle {
    font-size: 22px;
  }

  .phrase {
    font-size: 1.3em;
  }

  .display-one {
    height: 100vh;
    width: 100%;
    background-size: 100% 100vh;
  }

  .search-form {
    padding: 0px;
  }

  .form-container {
    margin: 30px 5px;
  }

  .contact-container {
    padding: 100px 20px;
  }

  .contact-title {
    font-size: 1.5em;
  }

  .title-container {
    padding: 100px 0 0px;
  }

  .text-container {
    padding: 30px 0 40px;
    width: 80%;
  }

  .phrase-container {
    padding-bottom: 10px;
  }

  .openMics-container {
    height: 90vh;
  }

  .openMics-card-container {
    height: 530px;
  }

  .register-container {
    margin-top: 100px;
  }

  .update-page-container {
    margin-top: 100px;
  }

  .search-container {
    width: 95%;
  }

  .openmic-page {
    margin: 20px auto;
    width: 100%;
  }

  .openmic-page-venue {
    font-size: 1em;
  }

  .openmic-page-info {
    font-size: 0.7em;
  }

  .signup-container {
    width: 94%;
    margin: 120px 2px 0 5px;
  }

  .footer {
    position: fixed;
  }
}

/* EXTRA LARGE SCREEN */

@media only screen and (min-width: 1050px) {
  /* For cellphone: */

  .home-container {
    width: 80%;
    margin: auto;
  }

  body {
    /* max-width: 1200px; */
    margin: 0 auto;
  }

  .footer {
    /* max-width: 1200px; */
    margin: 0 auto;
  }
}

/* REGISTER PAGE */

.register-page-container {
  height: 100vh;
}

.display-container {
  height: 100vh;
}

.form-container {
  border: solid 1.5px rgb(160, 32, 32);
  border-radius: 10px;
  width: fit-content;
  padding: 20px;
  margin: 30px auto;
  background-color: #c04000;
}

.register-title {
  margin: 5px auto 0;
  font-size: 1.5em;
  text-align: center;
}

.openmic-page {
  margin: 20px auto;
  width: 60%;
  padding: 15px;
  border: 1.5px solid rgb(75, 19, 19);
  border-radius: 10px;
  background-color: #c04000;
}

.openmic-page-venue {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.openmic-page-info {
  font-size: 0.9em;
  margin-bottom: 5px;
  color: #27292e;
}

.update-page-container {
  height: 100vh;
}

.contact-container {
  height: 100vh;
}

.contact-title {
  margin: 100px auto;
  width: 100%;
  text-align: center;
  font-size: 2em;
}

/* AuthForm */

.signup-container {
  height: 100vh;
}

.auth {
  margin: 3rem auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 6px;
  background-color: #38015c;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
}

.auth h1 {
  text-align: center;
  color: white;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  background-color: #f1e1fc;
  color: #38015c;
  border-radius: 4px;
  border: 1px solid white;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #9f5ccc;
  border: 1px solid #9f5ccc;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: #873abb;
  border-color: #873abb;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #9f5ccc;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #ae82cc;
}
